body {
    font-family: 'Noto Sans JP', sans-serif; 
}
#root {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: auto;
    .main {
        width: 100%;
        height: 100%;
    }
}
.modal-content {
    border: 3px solid #bbbbbb;

}
.modal-header {
    background-color: #bbbbbb;
}
.modal-body {

}
.modal-footer {
    border: none;
}
.dropdown > button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 0;
}
.dropdown > button::after {
    content: "";
    border: solid black;
    border-width: 0 1px 1px 0;
    padding: 5px;
    transform: rotate(45deg);
    margin-left: 4rem;
}
.custom-font {
    font-family: 'SUNRIZE', sans-serif;
}
@font-face {
    font-family: 'SUNRIZE';
    src: url('../public/fonts/SUNRIZE.ttf') format('truetype');
}
